<!-- Schedule Jobs Tab Start -->
<div id="scheduleJobsContentId" name="scheduleJobsContentName" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{../js/scheduleJobs.js}"></script>
    <div id="scheduleJobsFormDivId" name="scheduleJobsFormDivName" th:fragment="scheduleJobs-form" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
        <form class="form-horizontal" id="scheduleJobs-form" name="scheduleJobs-form" th:action="@{/jobs}" th:object="${scheduleJobsForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <fieldset>
                <div class="tab-pane" id="scheduleJobs" role="tabpanel">
                    <div id="scheduleJobDetailsSection" name="scheduleJobDetailsSection" *ngIf="scheduleJobDetailsSectionDiv">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped margin-btm-0" id="scheduleJobs-table">
                                    <thead class="tablesorter-headerRow">
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Job Description</th>
                                            <th>Last Executed <br>Time</th>
                                            <th>Next Run <br> Time</th>
                                            <th>Cron Expression</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                            <th>Executions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="scheduleJobs_{{i}}" *ngFor="let job of jobsResVal['jobEntities'];let i= index">
                                            <input id="scheduleJobsRowJobId_{{i}}" name="scheduleJobsRowJobId" type="hidden">
                                            <td>
                                                <input id="scheduleJobsRowJobName_{{i}}" type="hidden">
                                                <span>{{job['jobName']}}</span>
                                            </td>
                                            <td>
                                                <input id="scheduleJobsRowJobDescription_{{i}} " type="hidden">
                                                <span>{{job['jobDescription']}}</span>
                                            </td>
                                            <td>
                                                <input id="scheduleJobsRowLastExecutedTime_{{i}}" type="hidden">
                                                <span>{{job['lastExecutedTime'] | date:'yyyy-MM-dd HH:mm:ss':timezone(job['lastExecutedTime'] | date:'yyyy-MM-dd HH:mm:ss': 'UTC')}}</span>
                                            </td>
                                            <td>
                                                <input id="scheduleJobsRowNextRunTime_{{i}} " type="hidden">
                                                <span>{{job['nextRunTime'] | date:'yyyy-MM-dd HH:mm:ss':timezone(job['nextRunTime'] | date:'yyyy-MM-dd HH:mm:ss': 'UTC')}}</span>
                                            </td>
                                            <td>
                                                <input id="scheduleJobsRowCronExpression_{{i}}" type="hidden">
                                                <span>{{job['cronExpression']}}</span>
                                            </td>
                                            <td>
                                                <input id="scheduleJobsRowStatus_{{i}} " type="hidden">
                                                <span>{{job['status']}}</span>
                                            </td>

                                            <td>
                                                <span class="btn btn-success " id="scheduleButton_{{i}} " title="Schedule the job " *ngIf="job.status=='Unscheduled' || job.cronExpression=='isEmpty' || job.status===null" (click)="schedule(job['jobId'],job['jobName'],job['cronExpression'],job['jobDescription'])">
                                                Schedule
                                                </span>
                                                <span class="btn btn-primary " id="RescheduleButton_{{i}} " title="Reschedule the job " *ngIf="job.status!='Unscheduled' && job.cronExpression!='isEmpty' && job.status!==null" (click)="Reschedule(job['jobId'],job['jobName'],job['cronExpression'],job['jobDescription'])">
                                                Reschedule
                                                </span>
                                                <span class="btn btn-danger " id="UnscheduleButton_{{i}}" title="Unschedule the job " *ngIf="job.status!='Unscheduled' && job.cronExpression!='isEmpty' && job.status!==null" (click)="Unschedule(job['jobId'],job['jobName'],job['cronExpression'],job['jobDescription'])">
                                                Unschedule
                                                </span>
                                            </td>
                                            <td>
                                                <a id="jobInstanceIdDetails_{{i}}" [href]="url+ job.jobName + '/' + job.jobInstanceId" target="_blank" style="cursor: pointer;">Details</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="scheduleJobSection " name="scheduleJob " *ngIf="scheduleJobSectionDiv">
                        <div class="row margin-top-0 ">
                            <div class="col-sm-12 margin-top-0 ">
                                <h3 class="margin-0 ">Schedule Job</h3>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 divider-horizontal margin-top-10 margin-btm-30 "></div>
                        </div>
                        <div class="buscador-principal ">
                            <div class="row margin-btm-10 " id="errorMessageId " *ngIf="errorMessageIdDiv">
                                <div class="col-sm-12 ">
                                    <div class="bg-danger text-danger padding-10 "><span class="margin-right-05 glyphicon glyphicon-warning-sign "></span><span id="errorMessageSpanId ">{{jobsResVal['errorMessage']}}</span></div>
                                </div>
                            </div>
                            <div class="row margin-btm-10 " id="messageId " *ngIf="messageIdDiv">
                                <div class="col-sm-12 ">
                                    <div class="bg-success text-success padding-10 "><span class="margin-right-05 glyphicon glyphicon-ok-sign "></span><span id="messageSpanId ">{{jobsResVal['message']}}</span></div>
                                </div>
                            </div>
                            <div class="row margin-top-25 margin-btm-30 ">
                                <div class="col-sm-12 ">
                                    <div class="row ">
                                        <div class="row ">
                                            <input id="jobId " name="jobId " type="hidden" th:field="${scheduleJobsForm.jobId} ">
                                            <input id="scheduleType " name="jobId " type="hidden" th:field="${scheduleJobsForm.scheduleType} ">
                                            <div class="col-md-8 col-sm-6 ">
                                                <div class="form-group ">
                                                    <div class="col-sm-3 col-sm-4 text-right margin-top-15 "><label class="fontcolor-dark " for="jobNameId ">Job Name</label></div>
                                                    <div class="col-sm- col-sm-6 ">
                                                        <input class="form-control themed-input " id="jobNameId " name="roleName " type="text " [ngModelOptions]="{standalone: true}" [(ngModel)]="jobNameId" [readonly]="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-8 col-sm-6 ">
                                                <div class="form-group ">
                                                    <div class="col-sm-3 col-sm-4 text-right margin-top-15 "><label class="fontcolor-dark " for="jobDescriptionId ">Job Description</label></div>
                                                    <div class="col-sm- col-sm-6 ">
                                                        <input class="form-control themed-input " id="jobDescriptionId " name="roleName " type="text " [ngModelOptions]="{standalone: true}" [(ngModel)]="jobDescriptionId" [readonly]="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-8 col-sm-6 ">
                                                <div class="form-group ">
                                                    <div class="col-sm-3 col-sm-4 text-right margin-top-15 "><label class="fontcolor-dark " for="cronExpressionId ">Cron Expression</label></div>
                                                    <div class="col-sm- col-sm-6 ">
                                                        <input class="form-control themed-input " id="cronExpressionId " name="roleName " type="text " [ngModelOptions]="{standalone: true}" [(ngModel)]="cronExpressionId" [readonly]="status_readOnly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-xs-12 text-center ">
                                            <button class="btn btn-default themed-button btn-primary " id="scheduleJobButtonId
                                                    " *ngIf="schedule_show" (click)="invokeScheduleJob( 'Schedule') ">Schedule Job</button>
                                            <button class="btn btn-default themed-button btn-primary " id="rescheduleJobButtonId
                                                    " *ngIf="reschedule_show" (click)="invokeScheduleJob( 'Reschedule') ">Reschedule Job</button>
                                            <button class="btn btn-default themed-button btn-primary " id="unscheduleJobButtonId
                                                    " *ngIf="unschedule_show" (click)="invokeScheduleJob( 'Unschedule') ">Unschedule Job</button>
                                            <button class="btn btn-default themed-button themed-button-cancel " id="cancelJobButtonId " type="cancel " style="margin-left: 5px;" (click)="closeScheduleJob()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- Schedule Jobs Tab End -->