<div>
    <app-header></app-header>
</div>
<section style="background: #EEF3F2">
    <div class="container-fluid" style="min-height: 781px;">
        <div class="row">
            <div class="dashboard-content col-sm-12">
                <ul id="search-content-tab" class="nav nav-tabs" role="tablist">
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/search" aria-controls="search" class="tab-search"><span class="icons"></span><span>Search</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/collection" aria-controls="collection" class="tab-collection"><span class="icons"></span><span>Collection</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/request" aria-controls="request" class="tab-request"><span class="icons"></span><span>Request</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/bulkrequest" aria-controls="request" class="tab-request"><span class="icons"></span><span>Bulk Request</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/reports" aria-controls="reports" class="tab-reports"><span class="icons"></span><span>Reports</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/roles" aria-controls="roles" class="tab-role"><span class="icons"></span><span>Roles</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/userRoles" aria-controls="users" class="tab-users"><span class="icons"></span><span>Users</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/jobs" aria-controls="jobs" class="tab-users"><span class="icons"></span><span>Jobs</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/monitoring" aria-controls="monitoring" class="tab-users"><span class="icons"></span><span>Monitoring</span></a>
                    </li>
                    <li routerLinkActive="tab-collection-holder active">
                        <a routerLink="/logging" aria-controls="logging" class="tab-users"><span class="icons"></span><span>Logging</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div>
                        <!-- <app-search></app-search> -->
                        <router-outlet></router-outlet>
                        <!-- <app-checking></app-checking> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>