<div>
    <app-header></app-header>
</div>
<div>
    <span class="form-control bold bg-red color-white" *ngFor="let message of frozenInstitutionMessages">{{message}}</span>
</div>
<section class="dashb-stl" style="background: #EEF3F2">
    <div class="container-fluid ">
        <div class="row">
            <div class="dashboard-content col-sm-12">
                <ul class="nav nav-tabs" id="search-content-tab" role="tablist">
                    <li class="tab-search-holder" routerLinkActive="tab-search-holder active"
                        *ngIf="res['isSearchAllowed']" (click)="reload()">
                        <a class="tab-search" aria-controls="search" routerLink="/search"><span
                                class="icons"></span><span>Search</span></a>
                    </li>
                    <li class="tab-search-holder" routerLinkActive="tab-search-request-holder active"
                    *ngIf="res['isRequestAllowed'] || res['isRequestAllAllowed'] || res['isRequestItemAllowed']" (click)="reload()">
                    <a class="tab-search" aria-controls="search" routerLink="/search-request"><span
                            class="icons"></span><span>Search Requests</span></a>
                    </li>
                    <li class="tab-collection-holder" routerLinkActive="tab-collection-holder active"
                        *ngIf="res['isCollectionAllowed'] || res['isDeaccessionAllowed']" (click)="reload()">
                        <a class="tab-collection" aria-controls="collection" routerLink="/collection"><span
                                class="icons"></span><span>Collection</span></a>
                    </li>
                    <li class="tab-request-holder" routerLinkActive="tab-request-holder active"
                        *ngIf="res['isRequestAllowed'] || res['isRequestAllAllowed'] || res['isRequestItemAllowed']"
                        (click)="reload()">
                        <a class="tab-request" aria-controls="request" routerLink="/request"><span
                                class="icons"></span><span>Request</span></a>
                    </li>
                    <li class="tab-request-holder" routerLinkActive="tab-request-holder active"
                        *ngIf="res['isBulkRequestAllowed']" (click)="reload()">
                        <a class="tab-request" aria-controls="request" routerLink="/bulkrequest"><span
                                class="icons"></span><span class="margin-top-bk">Bulk Request</span></a>
                    </li>
                    <li class="tab-reports-holder" routerLinkActive="tab-reports-holder active"
                        *ngIf="res['isReportAllowed']" (click)="reload()">
                        <a class="tab-reports" aria-controls="reports" routerLink="/reports"><span
                                class="icons"></span><span>Reports</span></a>
                    </li>
                    <li class="tab-roles-holder" routerLinkActive="tab-roles-holder active" *ngIf="res['isRoleAllowed']"
                        (click)="reload()">
                        <a class="tab-role" aria-controls="roles" routerLink="/roles"><span
                                class="icons"></span><span>Roles</span></a>
                    </li>
                    <li class="tab-users-holder" routerLinkActive="tab-users-holder active"
                        *ngIf="res['isUserRoleAllowed']" (click)="reload()">
                        <a class="tab-users" aria-controls="users" routerLink="/userRoles"><span
                                class="icons"></span><span>Users</span></a>
                    </li>
                    <li routerLinkActive="tab-users-holder active" *ngIf="res['isSuperAdmin']" (click)="reload()">
                        <a class="tab-jobs" aria-controls="jobs" routerLink="/jobs"><span
                                class="icons"></span><span>Jobs</span></a>
                    </li>
                    <li routerLinkActive="tab-users-holder active" *ngIf="res['isMonitoring']" (click)="reload()">
                        <a class="tab-monitor" aria-controls="monitoring" routerLink="/monitoring"><span
                                class="icons"></span><span>Monitoring</span></a>
                    </li>
                    <li routerLinkActive="tab-users-holder active" *ngIf="res['isLogging']" (click)="reload()">
                        <a class="tab-logg" aria-controls="logging" routerLink="/logging"><span
                                class="icons"></span><span>Logging</span></a>
                    </li>
                    <li routerLinkActive="tab-users-holder active" *ngIf="false" (click)="reload()">
                        <a class="tab-users " aria-controls="logging" routerLink="/admin"><span
                                class="icons"></span><span>Admin</span></a>
                    </li>
                    <li routerLinkActive="tab-users-holder active" *ngIf="res['isDataExport']" (click)="reload()">
                        <a class="tab-users" aria-controls="logging" routerLink="/dataExport"><span
                                class="icons"></span><span>Data Export</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>