.results {
    padding: 8px !important;
    line-height: 1.42857143 !important;
    vertical-align: top !important;
    border-top: 1px solid #ddd !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.center-text {
    text-align: center
}

.b_inst {
    text-align: center;
    padding: 10px;
    background-color: #F0F1F1 !important;
    color: #292117;
    font-family: sans-serif;
    font-size: 122%;
    font-weight: 100;
}

.inst_row {
    font-family: sans-serif;
    font-size: 122%;
    background-color: white;
    color: #292117;
}

.inst_col_td1 {
    font-family: sans-serif;
    font-size: 122%;
    background-color: #E7E6E6;
    color: #292117;
}

.cnt_dec_a {
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.rotate {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.hdr_col{
    background-color: white;
}
.td_tr_border{
    border: 1px solid;
}
#acessionDeaccessionTable tr{
    border:1px solid;
}
.clk-count{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 10px;
}
.rec-count{
    font-size: 20px;
    padding: 10px;
}
.txt-cntr{
    text-align: center;
}
.bg-clr{
    background: #7f807f!important;
    color: white;
}
.rslt-th{
    font-family:sans-serif; 
    width:"16.6667%"
}
.scr-bdy{
    height: 100px;
    overflow: scroll;
}
.pi-chevron-right:before {
    content: url("src/assets/images/show-icon.png") !important;
    color: blue !important;
    margin-left: -5px;
  }
  
  .pi-chevron-down:before {
    content: url("src/assets/images/hide-icon.png") !important;
    color: blue !important;
    margin-left: -5px;
  }
  #header_column_4 {
      width: 10%;
  }
  #colData_column_4 {
      width: 10%;
  }

  #header_column_5 {
      width: 7%;
  }
  #colData_column_5 {
      width: 7%;
  }

  #header_column_6 {
      width: 7%;
  }
  #colData_column_6 {
      width: 7%;
  }
  #header_column_7 {
      width: 7%;
  }
  #colData_column_7 {
      width: 7%;
  }
  #header_column_9 {
      width: 15%;
  }
  #colData_column_9 {
      width: 15%;
  }
  .whitebg{
    background-color: white !important;
  }
  .greybg{
    background-color: #f3f3f3 !important;  
  }