
.scsb-cls{
    color: #2e5391!important;
    font-weight: 500;
    font-size: 50px;
    font-family: mukta-regular;
    margin-top: 33px
}
.clr-bl{
    color: #29588C;
}
.img-clr{
    height: 140px;
    margin-top: 2.5px;
    opacity: 0.3;
    width: 670px;
    margin-top: 2.5px;
    margin-left: 27%;
}
