.select-inst-box {
    background-color: #FBE7F2;
    border-color: #843534;
}
.scsb-txt{
    color: #24578D;
    text-align: left;
    font-size: 3.2em; 
    padding-top: 5px;
    font-family: mukta-regular;
    margin-top: 5px;  
}
.rcp-img{
    width: 100%;
    margin-top: -10px;
}
.bdr-ln{
    border-right: 1px solid;
    color: #24578D;
    margin-top: 5px;   
}
.home-block{
    padding: 0;
    min-height: calc(100vh - 66px);
}
.ftr-sl{
    width: 100%;
    padding-bottom: 6px;
    padding-top: 23px;
    height: 66px;
}
#emailBtn
{
    padding-left: 200px;
    margin-top: -35px;
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .scsb-txt {
        font-size: 7em !important;
        margin-top: 10px !important;
    }
}
@media only screen and (min-width: 560px) and (max-width: 640px) {
    .scsb-txt {
        font-size: 6em !important;
        margin-top: 10px !important;
    }
}
@media only screen and (min-width: 460px) and (max-width: 559px) {
    .scsb-txt {
        font-size: 4.5em !important;
        margin-top: 10px !important;
    }
}
@media only screen and (min-width: 281px) and (max-width: 350px) {
    .scsb-txt {
        font-size: 2.7em !important;
        margin-top: 5px !important;
    }
}
@media only screen and (min-width: 400px) and (max-width: 460px) {
    .scsb-txt {
        font-size: 3.7em !important;
        margin-top: 10px !important;
    }
}
@media only screen and (max-width: 281px) {
    .scsb-txt {
        font-size: 2.1em !important;
        margin-top: 5px !important;
    }
}
