.select-inst-box {
    background-color: #FBE7F2;
    border-color: #843534;
}
.scsb-txt{
    color: #24578D;
    text-align: left;
    font-size: 43px;
    padding-top: 5px;
    font-family: mukta-regular;
    margin-top: 2px;
}
.rcp-img{
    width: 100%;
    margin-top: -10px;
    height: 76px;
}
.bdr-ln{
    border-right: 1px solid;
    color: #24578D;
}
.home-block{
    padding: 0;
    min-height: calc(100vh - 59px);
}
.ftr-sl{
    width: 100%;
    padding-bottom: 6px;
    padding-top: 23px;
    height: 59px;
}