<div class="login-content content-top" style="padding-bottom: 60px;position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-15">
                <div class="col-sm-4">
                    <div class="row recap-logo-outerwrapper margin-btm-10">
                        <div class="recap-logo-container">
                            <a href="http://recap.princeton.edu/"><img class="recap-logo" src="../../../assets/images/recap-logo.png" alt="ReCAP"></a>
                            <h3>The Research Collections And <br>Preservation Consortium</h3>
                        </div>
                    </div>
                    <div class="twitter-block row">
                        <div class="col-sm-12">
                            <a class="twitter-timeline" data-height="350" href="https://twitter.com/recaplib">Tweets by
                                recaplib</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-1 col-lg-2">
                </div>
                <div class="col-sm-6 col-md-7 col-lg-6">
                    <!-- Login Section-->
                    <div class="login-wrapper">
                        <form class="form-horizontal" id="home_login" style="padding-bottom: 30px;">
                            <h2 class="heading">Login</h2>
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <label class="margin-top-10" for="institution">Institution</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="select-holder">
                                        <select class="form-control themed-input themed-select" id="institution" name="institution" [ngModelOptions]="{standalone: true}" [(ngModel)]="institution">
                                            <option [ngValue]="undefined" selected="selected">Select One</option>
                                            <option *ngFor="let inst of Institutions" [ngValue]="inst[0]">
                                                {{inst[1]}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback" style="color:red">
                                        <span id="institutionErrorMessage" *ngIf="institutionErrorMessageDiv" style="color: red;">This Field is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right"></div>
                                <div class="col-md-9">
                                    <div class="login-form-button-wrapper  margin-btm-10">
                                        <button class="btn btn-default themed-button" id="submitBtn" (click)="navigate(institution)">
                                            Submit
                                        </button>
                                        <div id="emailBtn" data-target="#emailModal" data-toggle="modal" style="padding-left: 200px;margin-top: -35px;">
                                            <a name="touch_us">Get in touch with us</a>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="emailModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                    <h4 class="modal-title">Email</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div *ngFor="let lst of getinTouch">

                                                        <p>{{lst.for}} : <a href="{{lst.url}}" target="_top"><span>{{lst.name}}</span></a></p>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-default" id="emailCloseButton" data-dismiss="modal" type="button">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade create-request-details" id="loginModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="loginLargeModalLabel" tabindex="-2">
                                <div class="modal-dialog" role="document">

                                    <div class="modal-content" id="loginModalContent">
                                        <div class="modal-header bg-success">
                                            <h2 class="modal-title text-center text-success" id="loginModalLabel">Login
                                                Error
                                            </h2>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span id="errorMsgs" name="errorMsgs" th:utext></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default themed-button btn-primary" type="button" value="Logout" onclick="manualLogout()">Ok</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Login Section-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-bottom margin-top-20 margin-btm-20" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="recap-members-logos">
                <div class="col-sm-9">
                    <h3 class="text-center margin-btm-20">Members of ReCAP</h3>
                    <div class="row">
                        <div class="col-sm-5 margin-top-10 padding-right-50">
                            <a href="http://www.columbia.edu/"><img class="member-columbia-univ-logo" src="../../../assets/images/member-logo/columbia-logo.png" alt="columbia university"></a>
                        </div>
                        <div class="col-sm-4 margin-top-10 padding-right-50 padding-left-50">
                            <a href="http://www.princeton.edu/main/"><img class="member-princeton-univ-logo" src="../../../assets/images/member-logo/princeton-logo.png" alt="princeton university"></a>
                        </div>

                        <div class="col-sm-3 padding-left-50">
                            <a href="https://www.nypl.org/"><img class="member-ny-public-logo" src="../../../assets/images/member-logo/nypl-logo.png" alt="Newyork Public Libraray"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h3 class="margin-btm-0">ReCAP</h3>
                    <ul class="border-style-left">
                        <li><a name="home" href="https://recap.princeton.edu/" target="_blank">Home</a></li>
                        <li><a name="facility" href="https://recap.princeton.edu/facility-storage" target="_blank">Facility &amp;
                                Storage</a></li>
                        <li><a name="0perations" href="https://recap.princeton.edu/operations-statistics" target="_blank">Operations &amp;
                                Statistics</a></li>
                        <li><a name="collections" href="https://recap.princeton.edu/collections-services" target="_blank">Collections &amp;
                                Services</a></li>
                        <li><a name="information" href="https://recap.princeton.edu/information-publications" target="_blank">Information
                                &amp; Publications</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footerForLoginPage" style="position:relative;bottom:0;width:100%;height:60px;top:20px;padding-top:15px;">
    <div class="text-center container-fluid">
        <p><span class="text-center">Created and maintained by HTC Global Services. E-mail: <a style="color:inherit;" th:href target="_top"><span th:inline="text"> contact@htcinc.com</span></a>
            </span>
        </p>
    </div>
</footer>