 .pi-chevron-right:before {
     content: url("src/assets/images/show-icon.png") !important;
     color: blue !important;
     margin-left: -5px;
 }

 .pi-chevron-down:before {
     content: url("src/assets/images/hide-icon.png") !important;
     color: blue !important;
     margin-left: -5px;
 }

 #colData_column_0 {
     width: 30%;
 }

 #header_column_0 {
     text-align: center;
     width: 30%;
 }

 #colData_column_1 {
     width: 15%;
 }

 #header_column_1 {
     width: 15%;
 }

 #colData_column_2 {
     width: 10%;
 }

 #header_column_2 {
     width: 10%;
 }

 #colData_column_9 {
     width: 5%;
 }

 #header_column_9 {
     width: 5%;
 }