.tab-hyp-head {
    display: inline;
    float: right;
    padding-right: 10px;
}

.bar-hyp-head {
    display: inline;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}

.tab-hyp {
    display: inline;
    float: right;
}

.tab-hyp-head-ls {
    display: inline;
    float: right;
}