.tab-content {
    padding: 10px 15px 15px;
    background: #f0f1f1
}

* {
    box-sizing: border-box
}

.results {
    padding: 8px!important;
    line-height: 1.42857143!important;
    vertical-align: top!important;
    border-top: 1px solid #ddd!important
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.inst-border {
    border-style: solid;
    border-spacing: 2px;
    border-width: thin
}

div {
    display: block
}

.swagger-ui {
    font-family: 'roboto-condensed', sans-serif;
    color: #848484;
    font-size: 14px;
}

.swagger-ui .wrapper {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
}

.swagger-ui .table-container {
    padding: 20px;
    background-color: white;
}

.swagger-ui .opblock.opblock-get {
    border-color: #f2f2f2;
    background: rgba(97, 175, 254, .1)
}

.swagger-ui .opblock {
    margin: 0 0 15px;
    border: 1px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .19);
    box-shadow: 0 0 3px rgba(0, 0, 0, .19)
}

.swagger-ui table tbody tr td:first-of-type {
    max-width: 20%;
    min-width: 25em;
    padding: 10px 0
}

.swagger-ui table tbody tr td {
    padding: 10px 0 0;
    vertical-align: top
}

.swagger-ui .parameter__name {
    font-family: 'roboto-condensed', sans-serif;
    color: #848484;
    font-size: 14px;
}

td {
    display: table-cell;
    vertical-align: inherit
}

.swagger-ui .parameters-col_description input[type=text] {
    border: 1px solid #717170;
    border-radius: 0;
    height: 35px;
    width: 100%;
    max-width: 340px
}

.swagger-ui input[type=email], .swagger-ui input[type=file], .swagger-ui input[type=password], .swagger-ui input[type=search], .swagger-ui input[type=text], .swagger-ui textarea {
    min-width: 100px;
    margin: 5px 0;
    padding: 8px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: white;
}

p {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0
}

.swagger-ui .btn.execute {
    background-color: #f2f2f2;
    color: #fff;
    border-color: #f2f2f2
}

.swagger-ui .execute-wrapper .btn {
    width: 15%;
    position: relative;
    background-color: #d38c0d;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.swagger-ui .execute-wrapper {
    background-color: white;
    text-align: center;
}

.swagger-ui button {
    cursor: pointer;
    outline: 0
}

.swagger-ui .btn {
    font-size: 16px;
    padding: 5px 23px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 2px solid gray;
    border-radius: 4px;
    background: 0 0;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    font-family: 'roboto-condensed', sans-serif;
    color: #848484;
}

hr {
    border-top: 1px solid gray;
    width: 100%
}

.error-man {
    margin-left: 10px;
    display: inline-block;
    margin-top: 10px
}

.row-bg {
    background-color: white !important;
}