<div>
    <div class="tab-content">
        <div class="search-bar" *ngIf="dataExport_panel">
            <div class="buscador-principal">
                <h4 class="margin-top-0 margin-btm-10 inline-box">Data Dump Details</h4> <span class="error-color">*</span>
                <div class="form-group" style="padding-left: 40px;">
                    <label class="radio-inline report-hide-shadow" for="dataDumpDetails" accesskey="A" style="padding-right: 30px;" tabindex="0">
                        <input id="dataDumpDetails" name="dataTypeoption" type="radio" value="dataDumpDetails" (click)="enableDataDumpDetails()" [checked]="isChecked">
                        Data Dump Details
                    </label>
                    <label class="radio-inline report-hide-shadow" for="exportDataDump" accesskey="R" style="padding-right: 30px;" tabindex="0">
                        <input id="exportDataDump" name="dataTypeoption" type="radio" value="exportDataDump" (click)="enabledDataExport()">
                        Export Data Dump
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="swagger-ui" *ngIf="dataExportDiv">
        <div style="margin-top: 25px;">
            <div class="wrapper">
                <div class="row margin-btm-10" id="successMessageDiv" *ngIf="successMessageDiv">
                    <div class="col-sm-12 text-left">
                        <div class="alert alert-success" role="alert"><span class="margin-right-05 glyphicon glyphicon-warning-sign"></span><span>{{resValExport['message']}}</span>
                        </div>
                    </div>
                </div>
                <div class="row margin-btm-10" id="errorMessageDiv" *ngIf="errorMessageDiv">
                    <div class="col-sm-12">
                        <div class="alert alert-danger"><span class="margin-right-05 glyphicon glyphicon-warning-sign"></span><span>{{resValExport['errorMessage']}}</span>
                        </div>
                    </div>
                </div>
                <section class="block col-12 block-desktop col-12-desktop">
                    <div><span>
                            <div class="opblock-tag-section is-open">
                                <div style="height: auto; border: none; margin: 0px; padding: 0px;">
                                    <span>
                                        <div class="opblock opblock-get is-open" id="operations-data-dump-rest-controller-exportDataDump">
                                            <div style="height: auto; border: none; margin: 0px; padding: 0px;">
                                                <div class="opblock-body">
                                                    <div class="opblock-section">
                                                        <div class="table-container">
                                                            <table class="parameters">
                                                                <tbody>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name" id="collectionGroupIds_param">
                                                                                Collection Group Ids</div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="collectionGroupIds" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="collectionGroupIds">
                                                                            <div class="markdown">
                                                                                <p>Data can be requested by Collection
                                                                                    Group ID, either Shared (use 1) or
                                                                                    Open (use 2) or Private (use 3) or Committed (use 5) or Uncommittable (use 6).
                                                                                    Default is Shared and Open, can use
                                                                                    1,2,3,5,6 as well.</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name" id="date_param">Date</div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="date" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="date">
                                                                            <div class="markdown">
                                                                                <p>Get updates to middleware collection
                                                                                    since the date provided. Date format
                                                                                    will be a string (yyyy-MM-dd HH:mm)
                                                                                    and is Eastern Time.</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name" id="emailToAddress_param">Email To Address
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="emailToAddress" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="emailToAddress">
                                                                            <div class="markdown">
                                                                                <p>Email address to whom email will be
                                                                                    sent upon completion</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name required" id="fetchType_param">
                                                                                Fetch Type<span style="color: red;">&nbsp;*</span>
                                                                            </div>
                                                                            
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="fetchType" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchType">
                                                                            <div class="error-color error-man" id="textField" *ngIf="fetchTypeErrorMessageDiv">
                                                                                This field is mandatory.
                                                                            </div> 
                                                                            <div class="markdown">
                                                                                <p>Type of export - Incremental (use 1)
                                                                                    or Deleted (use 2) or Full Dump (use
                                                                                    10)
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name" id="imsDepositoryCodes_param">
                                                                                IMS Depository Codes
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="imsDepositoryCodes" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="imsDepositoryCodes">
                                                                            <div class="markdown">
                                                                                <p>Ims depository - RECAP (use RECAP) or
                                                                                    Harvard depository (use HD).Default
                                                                                    is RECAP can use RECAP,HD as well
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name required" id="institutionCodes_param">
                                                                                Institution Codes<span style="color: red;">&nbsp;*</span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="institutionCodes" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="institutionCodes">
                                                                            <div class="error-man error-color" id="textField" *ngIf="institutionCodesErrorMessageDiv">
                                                                                This field is mandatory.
                                                                            </div>
                                                                            <div class="markdown">
                                                                                <p>Institution code(s) for requesting shared/open updates from partners: <span> {{institutionCodesDescription}}</span></p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name required" id="outputFormat_param">
                                                                                Output Format<span style="color: red;">&nbsp;*</span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="outputFormat" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="outputFormat">
                                                                            <div class="error-man error-color" id="textField" *ngIf="outputFormatErrorMessageDiv">
                                                                                This field is mandatory.
                                                                            </div>
                                                                            <div class="markdown">
                                                                                <p>Type of format - Marc xml (use 0) or
                                                                                    SCSB xml (use 1), for deleted
                                                                                    records only json format (use 2)</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name required" id="requestingInstitutionCode_param">
                                                                                Requesting Institution Code<span style="color: red;">&nbsp;*</span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="requestingInstitutionCode" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="requestingInstitutionCode">
                                                                            <div class="error-man error-color" id="textField" *ngIf="requestingInstitutionCodeErrorMessageDiv">
                                                                                This field is mandatory.
                                                                            </div>
                                                                            <div class="markdown">
                                                                                <p>Institution codes of the requesting institution. <span>{{institutionCodesDescription}}</span>
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="parameters row-bg">
                                                                        <td class="col parameters-col_name">
                                                                            <div class="parameter__name" id="transmissionType_param">
                                                                                Transmission Type
                                                                            </div>
                                                                        </td>
                                                                        <td class="col parameters-col_description">
                                                                            <input class id="transmissionType" type="text" title *ngIf="!try_out_toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="transmissionType">
                                                                            <div class="markdown">
                                                                                <p>Type of transmission - for S3 use 0,
                                                                                    for HTTP response use 1. Default is
                                                                                    S3.
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="execute-wrapper"><button class="btn execute opblock-control__btn" id="dataBumpBtn" name="dataBumpBtn" (click)="startDataDump(collectionGroupIds,date,emailToAddress,fetchType,imsDepositoryCodes,institutionCodes,outputFormat,requestingInstitutionCode,transmissionType)">
                                                            Start Export Data
                                                            Dump</button>
                                                            <button class="btn execute opblock-control__btn btn-clear" id="dataBumpBtn" name="dataBumpBtn" (click)="resetFields(); clearDivs()" style="background-color: gray;">
                                                               Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </span>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row margin-top-20 swagger-dump" id="dataDumpId" *ngIf="dataDumpDiv">
        <div class="row margin-btm-10 " id="dataDumpErrorMessageId" *ngIf="dataDumpErrorMessageDiv">
            <div class="col-sm-12 " style="padding-left:45px;padding-right:45px;margin-top:10px; ">
                <div class="bg-danger text-danger padding-10 "><span class="margin-right-05 glyphicon glyphicon-warning-sign "></span><span id="dataDumpErrorMessageSpanId">{{errorMessage}}</span></div>
            </div>
        </div>
        <div class="col-xs-12 " *ngIf="dataDumpResultsDiv">
            <h4>Data Dump Results</h4>
            <div class="divider-horizontal margin-top-10 margin-btm-10 "></div>
            <div>
                <p style="text-align: center;">CGD: 1-Shared, 2-Open, 3-Private, 5-Committed, 6-Uncommittable.</p>
            </div>
            <div id="Accession_Deaccession-tableview ">
                <div class="table-wrapper ">
                    <table class="table text-center margin-btm-0" id="acessionDeaccessionTable " style="border-collapse:collapse;">
                        <thead class="tablesorter-headerRow">
                            <tr>
                                <th class="text-center" width="10%">Institution</th>
                                <th class="text-center" width="10%">Format</th>
                                <th class="text-center" width="20%">File</th>
                                <th class="text-center" width="10%">CGDs</th>
                                <th class="text-center" width="10%">No. Of Bibs</th>
                                <th class="text-center" width="10%">No. of Items</th>
                                <th class="text-center" width="10%">Exported Date</th>
                                <th class="text-center" width="15%">Size (Bytes) </th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let data of result">
                            <tr>
                                <td class="v-middle-data gray-light fontcolor-white large-font inst-border" [attr.rowspan]="data.length" style="font-family:sans-serif;">
                                    {{data.name}}</td>
                                <td class="results ">{{data.values[0].bibDataFormat}}</td>
                                <td class="results ">{{data.values[0].keyName}}</td>
                                <td class="results ">{{data.values[0].gcd}}</td>
                                <td class="results ">{{data.values[0].bibCount}}</td>
                                <td class="results ">{{data.values[0].itemCount}}</td>
                                <td class="results ">{{data.values[0].keyLastModified | date:'yyyy-MM-dd
                                    HH:mm:ss':timezone(data.values[0].keyLastModified | date:'yyyy-MM-dd HH:mm:ss': 'UTC')}}
                                </td>
                                <td class="results ">{{data.values[0].keySize}}</td>
                            </tr>
                            <ng-container *ngFor="let instData of data.values;let i= index;">
                                <tr *ngIf="i!=0">
                                    <td class="results ">{{instData.bibDataFormat}}</td>
                                    <td class="results ">{{instData.keyName}}</td>
                                    <td class="results ">{{instData.gcd}}</td>
                                    <td class="results ">{{instData.bibCount}}</td>
                                    <td class="results ">{{instData.itemCount}}</td>
                                    <td class="results ">{{instData.keyLastModified | date:'yyyy-MM-dd
                                        HH:mm:ss':timezone(instData.keyLastModified | date:'yyyy-MM-dd HH:mm:ss': 'UTC')}}
                                    </td>
                                    <td class="results ">{{instData.keySize}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>