
                            <div class="create-request-details" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="loginLargeModalLabel" tabindex="-2">
                                <form class role="document" ngNoForm [action]="url">
                                    <div class id="loginModalContent">
                                        <div class="row">
                                             <div class="col-sm-4"></div>
                                             <div class="col-sm-4">
                                                 <div class="bg-success">
                                                    <h2 class="modal-title text-center text-success" id="loginModalLabel">Login
                                                    Error
                                                    </h2>
                                                    <div class="row">
                                                        <div class="col-sm-12" style="text-align: center;padding-bottom: 15px;">
                                                            <span id="errorMsgs" name="errorMsgs">User is not available in SCSB system. Please contact the administrator or send an email to:<br><a [href]="descEmail">{{email}}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="text-align: center;padding-top: 20px;">
                                                    <button class="btn btn-default themed-button btn-primary" type="submit" value="Logout">Ok</button>
                                                </div>
                                                </div>
                                             </div>
                                             <div class="col-sm-4"></div>
                                        </div> 
                                    </form></div>
                                
                            